.MainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.InputContainer {
  display: flex;
  flex-direction: column;
}

.OutputContainer {
  
}